node_modules/
.DS_Store
npm-debug.log
yarn-debug.logyarn-error.log
coverage/
dist/
build/
.vscode/
.idea/
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig  
docs/
quorum-ibft-chain/quorum
quorum-ibft-chain/node_modules/
quorum-ibft-chain/broadcast/
quorum-ibft-chain/cache/
quorum-ibft-chain/out/
quorum-ibft-chain/istanbul_tools_bins/
quorum-ibft-chain/istanbul-tools-bins/
quorum-ibft-chain/istanbul-tools/   
quorum-ibft-chain/quorum
quorum-ibft-chain/.env
quorum-ibft-chain/node*
quorum-ibft-chain/istanbul_tools_bins
# Dotenv file
.env
